* {
  margin: 0;
}

html, body {
  height: 100%;
}

p {
  font-size: 50px;
  color: #fff;
  font-family: 'Dosis', sans-serif ;
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(0,0,0,.5)
}

#cart-pop-up {
  width: 100px;
  height: 100px;
  background-color: aqua;
  display: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
  line-height: 50px;
  font-size: 30px;
  font-family: 'Gloria Hallelujah', cursive;
}

nav a:hover {
  color: #c4c4c4;
}

.shopping_cart {
  color: #fff;
  font-size: 2em !important;
  float: right;
  margin-right: 1em;
  margin-top: 0.5em;
}
.image {
 height: 100%;
 background-color: aqua;
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

.section {
  min-height: 50%;
  background-color: black;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}


 .imageOne {
   background-image: url("../images/food.jpg");

 }

 .imageTwo {
   background-image: url("../images/cooking.jpg");
 }

 .imageThree {
   background-image: url("../images/grocery.jpg");
 }

 .imageFour {
   background-image: url("../images/foodie.jpg");
 }

 .imageFive {
   background-image: url("../images/cooking.jpg");
 }

#home {
  text-align: center;
  padding-top: 10%;
}
.step {
  text-align: center;
}
.image_inside_step {
 border: dashed 4px #c4c4c4 !important;
 border-radius: 3%;
}


.row {
  width: 100%;
}

.step {
  width: 50%;
  float: left;
  margin-bottom: 50px;
  margin-top: 50px;
}


.instruction p, h1{
  font-size: 30px;
  color: #fff;
  font-family: 'Gloria Hallelujah', cursive;
}

.instruction h1{
  font-size: 35px;
}

.goLeft {
  float: left;
}

.goRight {
  float: left;
}

.shopping_button {
    width: 100px;
    height: 100px;
    background-color: orange;
    display: flex;
    margin: 20px;
}
